<div class="container-xxl mb-5 p-5">
    <div class="container-p-y" style="min-height: 70vh;">
        <div class="card text-dark bg-light mb-3" style="max-width: 40rem;"> 
            <div class="card-body">
                <h3 class="card-title mb-2">Login To Your Account</h3>
                <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email </label>
                        <input type="text" class="form-control" id="email" name="gmail" placeholder="Enter your email "
                          formControlName="email" required autofocus />
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <div class="d-flex justify-content-between">
                            <label class="form-label" for="password">Password</label>
                            <a href="forgotPassword">
                                <small>Forgot Password?</small>
                            </a>
                        </div>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password" class="form-control" name="password"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="password" formControlName="password" required />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>
                    <div class="mb-3">
                         <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="!loginFormGroup.valid" >Sign in</button>
                    </div>
                </form>

                <p class="text-center">
                    <span>New on our platform?</span>
                    <a href="register">
                        <span>Create an account</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
